<div class="container">
  <h1>Todos <code>({{getTotalSpendTime()}})</code></h1>
  <div class="divider"></div>
  <form [formGroup]="frmTodo">
    <span>New task &nbsp;</span> <input type="text" formControlName="taskName">
    <button class="btn btn-green"  (click)="createTask()">Create ➕</button>
  </form>
  <div class="divider"></div>

  <div *ngFor="let task of tasks" class="container-task">
    <div class="flex-space-around tasks">

      <h1 style="flex: 1">{{task.description}}</h1>

      <app-timer [task]=task (updateTaskEvent)="handleUpdateTaskEvent($event)" *ngIf="!task.finished" style="flex: 2"></app-timer>

      <div *ngIf="task.finished">DONE ✔️</div>

      <button class="btn btn-red" (click)="removeTask(task.id)">Remove ❌</button>
    </div>
  </div>
</div>
