svg {
  display: block;
  margin: 5px auto;
}

.loader{
  fill: #17a60e;
}

.border{
  fill: #48890c;
}


.button-timer {
  background-color: initial;
  box-sizing: border-box;
  height: 4rem;
  border-color: transparent transparent transparent rgba(30, 151, 0, 0.7);
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.pause {
  border-style: double;
  border-width: 0px 0 0px 60px;
  border-color: transparent transparent transparent rgb(245, 188, 0);
}

button:hover {
  /*border-color: transparent transparent transparent #404040;*/
}

.svg-loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
