<div class="flex-center" (mouseenter) ="setIsVisible(true)"  (mouseleave)="setIsVisible(false)">

  <button
    (click)="setIsPlaying()"
    [style.visibility]="isVisible ? 'visible' : 'hidden'"
    [ngClass]="!isPlaying ? 'button-timer' : 'button-timer pause'" ></button>

  <div class="svg-loading" *ngIf="internalTicks > 0">
    <svg  viewBox="0 0 300 200"  width="50" height="50">
      <path class="border" [attr.d]="border" transform="translate(125, 125)" />
      <path class="loader" [attr.d]="loader" transform="translate(125, 125) scale(.84)" />
    </svg>
    <div>{{timeLeft()}}</div>
  </div>

</div>
