/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  padding: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-around {
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
  border-radius: 20px;
  border: none;
  color: white;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 600;
}

.btn:hover{
  opacity: 0.8;
}

.btn-green {
  background-color: #4CAF50; /* Green */
}
.btn-red {
  background-color: rgb(236 110 110 / 86%)
}

.divider {
  border-top: 3px dotted #bbb;
  margin: 0.4rem 0rem 0.4rem 0rem;
}
